<div class="page-content fade-in-up">
    <div class="container-fluid">

        <!-- <div class="row">
            <div class="col-1" style="padding-left: 0px"> <button type="button" class="btn btn-demo" id="test">
                                        <i class="fas fa-cog fa-spin" style="color: white"></i>
                                    </button>
            </div>
        </div>
        <br> -->

        <router-outlet></router-outlet>

    </div>

</div>

<!-- <div class="modal left fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Reference Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="nav flex-sm-column flex-row" style="margin-top: 10%">
                    <a [routerLink]="['/referencedata/define']" [routerLinkActive]="['active']" data-dismiss="modal">Define</a>
                    <a [routerLink]="['/referencedata/insert']" [routerLinkActive]="['active']" data-dismiss="modal">Manage</a>
                    <a [routerLink]="['/referencedata/upload']" [routerLinkActive]="['active']" data-dismiss="modal">Upload File</a>
                    <a [routerLink]="['/referencedata/accountsetup']" [routerLinkActive]="['active']" data-dismiss="modal">Chart Of Account</a>
                    <a [routerLink]="['/referencedata/orgsetup']" [routerLinkActive]="['active']" data-dismiss="modal">Organisations</a>
                    <a [routerLink]="['/referencedata/excsetup']" [routerLinkActive]="['active']" data-dismiss="modal">Exchange Rate</a>

                </div>
            </div>

        </div>
    </div>
</div> -->