<div class="page-content fade-in-up">
    <div class="container-fluid">
        <br>
        <br>
        <div class="row text-right">
            <h3 style="margin-left: 40%;">Account Information</h3>

        </div>
        <div class="row">
            <div class="col-6 text-right">
                <h5>Account ID : </h5>
            </div>
            <div class="col-6">
                <p>{{data.id}}</p>
            </div>

        </div>
        <div class="row">
            <div class="col-6 text-right">
                <h5>Account Name : </h5>
            </div>
            <div class="col-6">
                <p>{{data.acct_name}}</p>
            </div>

        </div>
        <div class="row">
            <div class="col-6 text-right">
                <h5>Create Time : </h5>
            </div>
            <div class="col-6">
                <p>{{data.create_time}}</p>
            </div>

        </div>
        <div class="row">
            <div class="col-6 text-right">
                <h5>Presentation Currencies : </h5>
            </div>
            <div class="col-6">
                <p>{{data.presentation_currencies}}</p>
            </div>

        </div>
        <div class="row">
            <div class="col-6 text-right">
                <h5>Industry : </h5>
            </div>
            <div class="col-6">
                <p>{{data.industry_name}}</p>
            </div>

        </div>





    </div>
</div>