<div class="page-content fade-in-up">
    <div class="container-fluid">

        <!-- <div class="row">
            <div class="col-1" style="padding-left: 0px"> <button type="button" class="btn btn-demo" id="test">
                                    <i class="fas fa-cog fa-spin" style="color: white"></i>
                                </button>
            </div>
        </div>
        <br> -->

        <router-outlet></router-outlet>

    </div>

</div>


<!-- <div class="modal left fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ACCOUNTING RULE ENGINE</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="nav flex-sm-column flex-row" style="margin-top: 10%">
                    <a [routerLink]="['/rules/createrule']" [routerLinkActive]="['active']" data-dismiss="modal">Create Rule</a>
                    <a [routerLink]="['/rules/rulelist']" [routerLinkActive]="['active']" data-dismiss="modal">Rule List</a>
                    <a [routerLink]="['/rules/testrule']" [routerLinkActive]="['active']" data-dismiss="modal">Test Rule</a>
                    <a [routerLink]="['/rules/rulelookup']" [routerLinkActive]="['active']" data-dismiss="modal">Rule Lookups</a>

                </div>
            </div>

        </div>
    </div>
</div> -->