<div class="page-content fade-in-up">
    <div class="container-fluid">



        <router-outlet></router-outlet>

    </div>

</div>


<!-- <div class="modal left fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Manual Adjustments</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="nav flex-sm-column flex-row" style="margin-top: 10%">
                    
                    <a [routerLink]="['/adjustment/journaladjust']" [routerLinkActive]="['active']" data-dismiss="modal">Journal</a>
                    <a [routerLink]="['/adjustment/eventadjust']" [routerLinkActive]="['active']" data-dismiss="modal">Event</a>
                    <a [routerLink]="['/adjustment/manual-upload']" [routerLinkActive]="['active']" data-dismiss="modal">Manual Upload</a>

                </div>
            </div>

        </div>
    </div>
</div> -->