<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="http://svayamtech.com"><b>FPEM</b></a></li>
                    <li><a [routerLink]="['/help']" routerLinkActive="router-link-active"><b>Support</b></a></li>
                    <li><a href="#"><b>Find an Accountant</b></a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
        © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart" ></i>
        by Svayam Infoware Pvt. Ltd.
        </span>
            </div>
        </div>
    </div>
</footer>