<div>
    <div class="page-header" style="background-color: rgb(235, 241, 245);">



        <div class="container">
            <div class="row">


                <div class="col">
                    <div class="panel panel-pink">
                        <a routerLinkActive="active" routerLink="/usermgmt/users"> <img src="./assets/img/User.png" style="  width: 100px;
                            height: 80px;margin-left: 15%"></a>
                        <h4> User Management</h4>
                    </div>
                </div>
                <div class="col">
                    <div class="panel panel-pink">
                        <div class="panel panel-pink">
                            <a routerLinkActive="active" routerLink="/financials/savedreports">
                                <img src="./assets/img/ff.png" style="  width: 100px;
                                    height: 80px;margin-left: 10%"></a>
                            <h4 style="margin-left: 10%"> Financials</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="panel panel-pink">
                        <div class="panel panel-pink">
                            <a routerLinkActive="active" routerLink="/processing">

                                <img src="./assets/img/processing.png" style="  width: 100px;
                                    height: 80px;margin-left: 55px"></a>
                            <h4 style="margin-left: 15%"> Processing</h4>

                        </div>
                    </div>
                </div>


            </div>
            <br>
            <div class="row">


                <div class="col">
                    <div class="panel panel-pink">
                        <a routerLinkActive="active" routerLink="/controls/activity-dashboard">

                            <img src="./assets/img/controls.png" style="  width: 100px;
                        height: 80px;margin-left: 10%"></a>
                        <h4 style="margin-left: 15%"> Controls</h4>

                    </div>
                </div>
                <div class="col">
                    <div class="panel panel-pink">
                        <div class="panel panel-pink">
                            <a routerLinkActive="active" routerLink="/referencedata/insert">

                                <img src="./assets/img/refernce.png" style="  width: 100px;
                            height: 80px;margin-left: 10%"></a>
                            <h4 style="margin-left: 5%"> Reference Data</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="panel panel-pink">
                        <div class="panel panel-pink">
                            <a routerLinkActive="active" routerLink="/rules/rulelist">
                                <img src="./assets/img/ac.png" style="  width: 100px;
                            height: 80px;margin-left: 15%"></a>
                            <h4>Accounting Rule Engine</h4>
                        </div>
                    </div>
                </div>


            </div>
            <br>
            <div class="row">


                <div class="col">
                    <div class="panel panel-pink">
                        <a routerLinkActive="active" routerLink="/platformdefinition/journal">
                            <img src="./assets/img/data.png" style="  width: 100px;
                        height: 80px;margin-left: 15%"></a>
                        <h4> Platform Data Definition</h4>
                    </div>
                </div>
                <div class="col">
                    <div class="panel panel-pink">
                        <div class="panel panel-pink">
                            <a routerLinkActive="active" routerLink="/source/registerSource">

                                <img src="./assets/img/de.png" style="  width: 100px;
                            height: 80px;margin-left: 10%"></a>
                            <h4 style="margin-left: 3%"> Source Definition</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="panel panel-pink">
                        <div class="panel panel-pink">
                            <a routerLinkActive="active" routerLink="/adjustment/manual-upload">

                                <img src="./assets/img/ad.png" style="  width: 100px;
                            height: 80px;margin-left:15%"></a>
                            <h4>Manual Adjustment</h4>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>