<div class=" table-container ">
    <div class="row">
<div class="col-4">
            <mat-form-field style="margin-left: 2%">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="col-4 text-center">
            <h6 >ROLE OF USERS</h6>
        </div>
        <div class="col-4">
            <button class="btn btn-link" data-toggle="modal" data-target="#userModal" data-backdrop="false" style="float: right;margin-top: 1%"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Asign Role</button>

        </div>
    </div>
   
<div class="example-container mat-elevation-z1">


    <table style="width: 100%" mat-table [dataSource]="dataSource" matSort >
        <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Name</b>
            </th>
            <td mat-cell flex-stretch *matCellDef="let element">
                {{element.first_name}} {{element.last_name}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Email</b> </th>
            <td mat-cell flex-stretch *matCellDef="let element">
                {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Role</b> </th>
            <td mat-cell flex-stretch *matCellDef="let element">
                {{element.role_name}} </td>
        </ng-container>
        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>
                <b>Update</b> </th>
            <td mat-cell flex-stretch *matCellDef="let element; let i = index;">
                <button class="btn btn-warning" (click)="openUpdateRole(element,i)" data-toggle="modal" data-target="#userUpdateModal" data-backdrop="false"><i class="fas fa-edit"></i></button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>
                <b>Delete</b></th>
            <td mat-cell flex-stretch *matCellDef="let element; let i = index;">
                <button class="btn btn-danger" (click)="deleteUserRole(element,i)"><i class="fas fa-trash"></i></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns">
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</div>

<ngx-spinner type="ball-atom">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="modal" id="userModal">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Role</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="padding-left: 15%">
                <div class="row">
                    <label class="col-lg-2 control-label" style="font-size: 15px ;padding-top: 1%"><b>Select User:</b></label>
                    <div class="col-lg-8">
                        <!-- <ng-select [items]="users" bindLabel="email" bindValue="email" [multiple]="false"
                            placeholder="Select Role" [(ngModel)]="user" [selectableGroup]="true"
                            [selectableGroupAsModel]="false" [closeOnSelect]="true" name="user"
                            (change)="changeUser($event)">

                        </ng-select> -->
                        <!-- <select class="form-control" [(ngModel)]="user">
                            <option *ngFor="let u of users" [(ngValue)]="u">{{u.f_name}} {{u.l_name}} - {{u.email}}
                            </option>
                        </select> -->
                        <ng-select [items]="users" bindLabel="firstName" [multiple]="false" placeholder="Select user" [(ngModel)]="user" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="true" name="user" (change)="changeUser($event)">

                            <ng-template ng-label-tmp let-item="item">
                                <span>{{ item.first_name + ' ' + item.last_name + '(' + item.email +')' }}</span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                                <span>{{ item.first_name + ' ' + item.last_name + '(' + item.email +')'}}</span>
                            </ng-template>

                        </ng-select>

                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="col-lg-2 control-label" style="font-size: 15px ;padding-top: 1%"><b>Select Role:</b></label>
                    <div class="col-lg-8">
                        <ng-select [items]="roles" bindLabel="role_name" bindValue="role_name" [multiple]="true" placeholder="Select Role" [(ngModel)]="role" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false" name="role" (change)="changeRole($event)">

                        </ng-select>
                        <!-- <select class="form-control" [(ngModel)]="role">
                                    <option *ngFor="let r of roles" [(ngValue)]="r">{{r.role_name}}</option>
                                </select> -->
                    </div>
                </div>
                <br>


            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-info" (click)="addUserRole()">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal" id="userUpdateModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">


            <div class="modal-header">
                <h4 class="modal-title">Update User Role</h4>
            </div>


            <div class="modal-body" style="padding-left: 5%">
                <div class="row">
                    <label class="col-lg-2 control-label" style="font-size: 15px ;"><b>Email:</b></label>
                    <div class="col-lg-8">
                        <h6 class="control-label"><b>{{elem?.email}}</b></h6>

                    </div>
                </div>
                <br>
                <div class="row">
                    <label class="col-lg-2 control-label" style="font-size: 15px ;"><b>Select Role:</b></label>
                    <div class="col-lg-8">
                        <ng-select [items]="roles" bindLabel="role_name" bindValue="role_name" [multiple]="true" placeholder="Select Role" [(ngModel)]="role" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false" name="role" (change)="changeRole($event)">

                        </ng-select>
                    </div>
                </div>
                <br>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateUserRole()">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>