<h6 style="color: #ff9966;text-align: center;margin-bottom: 2%">TEST RULE</h6>
<div style="background-color:white;width:100%;margin-top: 0%; " class="mat-elevation-z1">
    <div class="row ">
        <label style="margin-top: 2%;margin-left: 20%;width: 18%;"><h5>Select Rules:</h5></label>
        <ng-select style="margin-top: 2%;width: 40%;margin-left: 1%;" [items]="rules" bindLabel="rule_name" bindValue="rule_id" [multiple]="true" placeholder="Select Rules" [(ngModel)]="selectedRules" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" name="org">
        </ng-select>


    </div>

    <div class="row">
        <label style="margin-top: 2%;margin-left: 20%;width: 18%;"><h5>Select Event Layout:</h5></label>

        <ng-select style="margin-top: 2%;width: 40%;margin-left: 1%;" [items]="eventLayouts" bindLabel="event_layout_name" bindValue="event_layout_name" [multiple]="false" placeholder="Select Event" [(ngModel)]="selectedEvent" [selectableGroup]="true" [selectableGroupAsModel]="false"
            [closeOnSelect]="false" name="org">
        </ng-select>

    </div>
    <div class="row">
        <label style="margin-top: 2%;margin-left: 20%;width: 18%;"><h5>Input:</h5></label>
        <textarea style="margin-top: 2%;width: 40%;margin-left: 1%;height: 30%;" placeholder="input" tabindex="5" [(ngModel)]="input" name="meg" required></textarea>


    </div>


    <div class="row">


        <button style="margin-top: 2%;margin-left: 45%;width: 134.42px; height: 43px;font-size: 14px;" type="button" class="btn btn-success" (click)="Save()" data-dismiss="modal" data-toggle="tooltip" title="test">Submit</button>



    </div>
    <div class="row">
        <label style="margin-top: 2%;text-align:center;width: 18%;"><h4>Output:</h4></label>

        <!-- <textarea style="margin-top: 2%;width: 35%;margin-left: 1%;height: 30%;" placeholder="Output" tabindex="5"  [(ngModel)]="output" name="meg" required></textarea> -->

    </div>
    <div>
        <p *ngFor="let article of output;let i=index" style="margin-left: 4%;margin-right: 2%;"><b style="color: cadetblue;">Output Record {{i}}</b> : {{output[i]}}</p>
    </div>

</div>
<ngx-spinner type="ball-atom">
    <p style="color: white"> Loading... </p>
</ngx-spinner>